@(formLogin: Form[Application.Login])


@helper.form(routes.Application.authenticate) {
	<script src="@routes.Assets.at("javascripts/login.js")" type="text/javascript"></script>
	<div class="formulario">
		<h1>Login</h1>

		@if(formLogin.hasGlobalErrors) { 
			<p class="error">
			@formLogin.globalError.message
			</p>
		}

		@if(flash.contains("success")) {
			<p class="success">
			@flash.get("success")
			</p>
		}

	
		<input class = "input-form" type="email" name="email" placeholder="Email" value="@formLogin("email").value">
		<input class = "input-form" type="password" name="password" placeholder="Password">
		<input type="submit" value="Login" class="btn btn-success button">
	<div>
}

