	<!-- MENU -->
	
	
	
   <div class="span2">
						<div class="well sidebar-nav">
							<ul class="nav vav-list">
								<li class="nav-header">
									Menu 
								</li>
								<li>
									<a href="@routes.Application.index()"><i class="icon-home"> - </i>Inicio</a>	
									@for(Grupo <- Grupo.find.all()){
										<a href="#">
											@Grupo.nome_grupo
										</a>
									} 

								</li>  
								<li>
									<hr>
								</li>
								
							
							</ul>
						</div>
					 </div>
	
			 <!-- MENU -->