	<!-- BARRA TOPO -->
	
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/navbar.css")">
	
	<div class="navbar">
		<div class="navbar-inner"> 
			<a class="brand cursor"><span class="icon-th"></span></a>
			<!-- SPAN PARA LOGIN -->
			 <span class="navbar-text pull-right"> 
				@if(session.contains("connected")) {
			 		@session.get("connected") <a href="@routes.Application.logout"> <span class="label lbl-info"> Sair</span> </a>
				 }else {
			  		<a  href="@routes.Application.login"> <span class="label lbl-info">Login <span>  </a> 
			 	}

			 </span>
			 <!-- FIM SPAN PARA LOGIN -->
		<ul class="nav">
			 <li class="divider-vertical"></li>
			 <li><a class="brand" href="/">ZINF</a> </li>
			@if(session.contains("connected")) {
				<li><a class="brand" href="/meusgrupos"><img src="@routes.Assets.at("images/ico/mygroups.png")"></a> </li>
				<!--<li><a class="brand" href="/arquivos"><img src="@routes.Assets.at("images/ico/files.png")"></a> </li>-->
				<li><a class="brand" href="/sobre"><img src="@routes.Assets.at("images/ico/about.png")"></a> </li>
				<li><a class="brand" href="/cadGrupo"><img src="@routes.Assets.at("images/ico/category.png")"></a> </li>
			}
		</ul>
	</div>
	</div>		
	</p>
	
			 <!-- FIM BARRA TOPO -->