@(formGrupo: Form[Grupo])
@import helper._

@main("ZINF - Cadastrar Grupos") {  
	<h1>Cadastrar Grupo</h1>   

	<div class="left">
		<h4>Cadastrar</h4>
	
		<div class="formGrupo">
			<form action="/addGrupo" method="POST">
				<input class = "input-form" type="text" id="nome_grupo" name="nome_grupo" value="" placeholder="Digite o nome do grupo">  	
				<input class="button btn btn-success" type="submit"value="Cadastrar grupo">			
			</form>
			
		</div>
	</div> 
	<div class="right">
		<h4>Grupos cadastrados</h4>
		<ul>
			@for(Grupo <- Grupo.find.all()){
				<li>
					@Grupo.nome_grupo 
					<span class="icon-edit"></span> <a href='@routes.Application.editaGrupo(Grupo.id_grupo)'> editar</a>
					<a href='@routes.Application.deletaGrupo(Grupo.id_grupo)'> Deletar</a>
				</li>
			}  
		</ul>
	</div> 
	
	



	
	
}