
@(grupo: Grupo)
@import helper._


@main("visualizar grupo"){
	<script src="@routes.Assets.at("javascripts/grupo.js")" type="text/javascript"></script>
	<div class="formulario">
		
			<h1>@grupo.nome_grupo</h1>

			<div class="addPostagem">
				<textarea name="novaPostagem"></textarea>
				<input type="button" class="button"  value="Incluir">
			</div>
			<div class="postagens" data-id="@grupo.id_grupo">
				
			</div>


	</div>
}
