@(formUser: Form[User])
@import helper._

@main("ZINF"){
	<script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>

	@if(session.contains("connected")) {
		<h2 class= "titleText">Escolha um grupo</h2>

		<div class="breadcrumbs"></div>


		<!--Grupo -->
		<div class="categorias">
			<div class="row-fluid">

			 @for(Grupo <- Grupo.find.all()){
				<div class="boxShadow option" id="@Grupo.id_grupo">
					@Grupo.nome_grupo
				</div>
			}
			</div>
		</div>
	}else{
	<div class="formulario">
			<h2>Realize o seu cadastro</h2>		
			@form(routes.Application.cadUser) {
				<input class = "input-form" type="text" id="email" name="email" value="" placeholder="Digite o seu Email"><br>
				<input class = "input-form" type="text" id="name" name="name" value="" placeholder="Digite o seu nome"><br>
				<input class = "input-form" type="password" id="password" name="password" placeholder="Digite a sua senha"><br>
				<input type="submit" class="btn btn-success button" value="Cadastrar usuario">
			}
		</div>
		

	}
	
}
