@(message: String)

@main("ZINF - Sobre") {   
    
    <h1>Sobre</h1>   
 
 	<p> ZINF (Zinf is not Forum) é um portal onde é possível criar grupos de de estudo com intuído de facilitar o aprendizado de forma intuitiva e divertida.</p>
    
}
